<!DOCTYPE html>
<html>
  <head>
    <% include templates/headertemplate.ejs %>
    <% include templates/qrheader.ejs %>

</head>
  <body>
    <% include templates/navbar.ejs %>
    <div class="container">
      <div class="page-header" style="margin-top: 100px;">
          <h1>User</h1>
        </div>
        <video autoplay width="320" height="240" ></video><br>
        <canvas id="qr-canvas" width="640" height="480" style="display:none"></canvas>
        <form id="qr" action="/info" method="post">
          <input name="userId" id="userid" style="display:none">
          <input name="card" id="card" style="display:none" value="<%=cardId%>">
          <input id="qrsubmit" type="submit" style="display:none">
        </form>
    <% include templates/footer.ejs%>    
    </div>

</body>

<script>

$(function(){
  Parse.initialize('8bn3H9oUBrS4B5IiK53q8x3ZrDMlGPWwf55r0mlf', 'tFpRIdBQk8CHR97tGm7vr3squx3TrTjMUyBw6wIZ');
  qrcode.callback = function(a) {
    var query = new Parse.Query(Parse.User)
    query.get(a).then(function(userObj){
      $('#userid').val(a);
      $('#qrsubmit').click();
    }, function(error) {
      alert("could not find user");
    });
  }
  
});
  var canvas = document.querySelector('canvas');
  canvas.style.width = "640px";
  canvas.style.width = "480px";
  var ctx = canvas.getContext('2d');
  var localMediaStream = null;
  var video = document.querySelector('video');


  function snapshot() {
    if (localMediaStream) {
      ctx.drawImage(video, 0, 0);
      // "image/webp" works in Chrome.
      // Other browsers will fall back to image/png.
      //document.querySelector('img').src = canvas.toDataURL('image/webp');
      qrcode.decode();
    }
  }

  var vgaConstraints = {
    video: true
  };
  // Not showing vendor prefixes or code that works cross-browser.
  navigator.webkitGetUserMedia(vgaConstraints, function(stream) {
    video.src = window.URL.createObjectURL(stream);
    localMediaStream = stream;
    setInterval(snapshot,500);

  }, function(a) {});





      $('#modal-form-submit').on('click', function(e){
      // We don't want this to act as a link so cancel the link action
      e.preventDefault();

      // Find form and submit it
      $('#modal-form').submit();
      });


  </script>
</html>
